#salary {
    padding: 0 0 0 20px;
    background: url(https://w0.pngwave.com/png/509/352/indian-rupee-sign-computer-keyboard-currency-symbol-rupee-png-clip-art.png) no-repeat;
    background-size: 24px 24px;
    background-position: 2px 6px;
    
  }
  .location-box-cover > input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.date-box-postjob{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-job-form{
  width: 50%;
}
.react-datepicker__input-container > input{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.location-box-cover > input{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
  font-weight: 500;
  margin-bottom: .2rem!important;
}
.font-increase-label{
  font-size: 1.2rem;
}
.desc-feat{
  color: rgba(0,47,52,.64);
font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .post-job-form{
      width: 80%;
  }
}