.login-box{
    justify-content: flex-end;
    margin-right: 2rem;
}
.login{
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}
.image-navbar{
    margin-right: 1rem;
    margin-left: 1rem;
}
.postjob{
    max-width: 100px;
    margin-left: 1rem;
}
.form-inline{
    margin-left: 1rem;
    margin-right: 8rem;
}
.nav-box{
    margin-bottom: 2rem;
}
@media only screen and (max-width: 500px) {
    .form-inline{
        margin-left: 0rem!important;
        max-width: 250px!important;
  }
  
 .postjob{
    margin-left: 0rem;
}
.login{
   
    margin-left: 0rem;
}
.image-navbar{
   
    margin-left: 0rem!important;
}
}